.recipe-wrap{
    box-sizing: border-box;
    min-width: 1024px;
    margin: 0 auto;
    padding: 1rem 5rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 400px;
    grid-auto-rows: auto;
    gap: 30px;
    height: 150vh;
}
.recipe-wrap > a{
    height: 400px;
}
.recipe-box{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
}
.recipe-box .imgBox{
    width: 300px;
    height: 240px;
    margin-bottom: 20px;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    overflow: hidden;
}
.recipe-box .imgBox img{
    width: 100%;
    height: 100%;
}
.recipe-box .recipe-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.recipe-box .recipe-info *{
    margin: 0;
    padding: 0;
}
.recipe-box .recipe-view{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}
.category{
    box-sizing: border-box;
    min-width: 1024px;
    padding: 1rem 5rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddb485;
}
.category > div{
    margin-bottom: 5px;
    min-width: 1400px;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.category >div span{
    width: 50px;
    padding-right: 10px;
    border-right: 3px solid #ddb485;
    color: #ddb485;
}
.category > div label{
    cursor: pointer;
    padding: 5px;
}
.category > div label:hover{
    color: #ddb485;
}
.category > div label:has(input[type='radio']:checked) {
    color: #fff;
    background-color: #ddb485;
    border-radius: 10px;
}
.cat{
    display: flex;
    gap: 50px;
    padding: 1rem 5rem;
    justify-content: flex-end;
    align-items: center;
    min-width: 1400px;
}
.cat span{
    cursor: pointer;
}
.cat span:hover{
    color: #ddb485;
}